<!--<link data-fixed="true" href="/templates/index.css" rel="stylesheet">-->
<link data-fixed="true" href="/css/kedo/bootstrap.min.css" rel="stylesheet">
<link data-fixed="true" href="/css/kedo/common.css" rel="stylesheet">
<script>
    var cdn_domain="{$cdn_domain}";
    var img_domain="{$images_domain}";
    var inf_domain="{$inf_domain}";
    var site_skin="{$site_skin}";
    var currentUserId="{$user.userId}";
</script>
<!--<div class="head-outer btline">
	<div class="header clearFix">
        <a class="hd_bg fl" href="/{$index_page}"></a>
        <ul class="nav fl">
            <li class="fl {if $current_page=='index'}cu{/if}"><a href="/{$index_page}">首页</a></li>
            <li class="fl {if $current_page=='square'}cu{/if}"><a href="/square.php">广场</a> </li>
            <li class="fl {if $current_page=='mall'}cu{/if}"><a href="/mall.php">商城</a> </li>
            <li class="fl {if $current_page=='order'}cu{/if}"><a href="/orders.php">排行榜</a> </li>
        </ul>
        <div class="input fl">
            <input type="text" placeholder="输入房间号/频道号/ID" id="searchText" />
            <a class="search" target="_blank" ></a>
        </div>
    {if !$user}
    <div class="reg_log" style="margin-left: 300px;margin-top: 30px;">
        <span class="log">登录</span><span class="reg">/注册</span>
    </div>
    {else}
    <div class="user clearFix">
        <div class="fl hd_hov">
            <a class="username fl" href="centeros.php">{$user.nickname}</a>
            {if $index_page ==""}
            <a href="/login.php?action=logout&amp;type=html" class="userout">退出</a>
            {/if}
            <a class="expand fl" id="expand" href="javascript:;"></a>
        </div>
        <a class="email fl" href="javascript:;"></a>
        <div class="honor">
            <div class="hon-header">
                <div class="hon-title">我的勋章</div>
            </div>
            <div class="hon-list">
                <ul>
                    <li><span class="medal-li med3" title="万箭齐发"></span></li>
                    <li><span class="medal-li med1" title="力拔山河"></span></li>
                    <li><span class="medal-li med2" title="腰缠万贯"></span></li>
                    <li><span class="medal-li med1" title="钟灵毓秀"></span></li>
                    <li><span class="medal-li med3" title="雄霸天下"></span></li>
                    <li><span class="medal-li med1" title="猴子偷桃"></span></li>
                    <li><span class="medal-li med2" title="回光返照"></span></li>
                    <li><span class="medal-li med3" title="钟灵毓秀"></span></li>
                    <li><span class="medal-li med1" title="母仪天下"></span></li>
                    <li><span class="medal-li med2" title="肆无忌惮"></span></li>
                </ul>
            </div>
            <div class="hon-bottom">
                <div class="tocenter"><a href="centeros.php">个人中心</a></div>
                {if $index_page ==""}
                    <div class="logout"><a href="/login.php?action=logout&amp;type=html">退1出</a></div>
                {/if}
            </div>
        </div>
    </div>

    {/if}
    </div>
</div>-->
<!--导航-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo_head" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav hdNavL">
                <li class="{if $current_page=='index'}active{/if}"><a href="/">首页</a></li>
                <li class="{if $current_page=='square'}active{/if}"><a href="/square.php">广场</a> </li>
                <li class="{if $current_page=='mall'}active{/if}"><a href="/mall.php">商城</a> </li>
                <li class="{if $current_page=='order'}active{/if}"><a href="/orders.php">排行榜</a> </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <!--<div class="form-group">
                   <input type="text" class="form-control" placeholder="搜索">
                   <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
                </div>-->
                <div class="input-group search">
                    <input type="text" class="form-control searchN" placeholder="输入房间号/频道号/ID">
                  <span class="input-group-btn">
                    <button class="btn btn-default searchBtn" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                </div>

            </form>
            {if !$user}
            <ul class="nav navbar-nav navbar-right  hidden-sm hdNavR reg_log">
                <li><a href="javascript:;" class="log">登录</a></li>
                <li class="hidden-xs"><a href="">|</a></li>
                <li class="hidden-lg hidden-md hidden-sm show-xs line"><a href=""></a></li>
                <li class=""><a href="./" class="reg">注册<span class="sr-only">(current)</span></a></li>
            </ul>
            {else}
            <ul class="nav navbar-nav navbar-right hidden-sm hdNavR">
                <li><a href="/centeros.php">{$user.nickname}</a></li>
                <li class="hidden-xs"><a href="">|</a></li>
                <li class="hidden-lg hidden-md hidden-sm show-xs line"><a href="javascript:;"></a></li>
                <li class=""><a href="/login.php?action=logout&amp;type=html">退出<span class="sr-only">(current)</span></a></li>
            </ul>

            {/if}
        </div><!--/.nav-collapse -->
    </div>
</div>


