@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0; 
}
.color99{
	color:#999;
}
.color33{
	color:#333;
}
.colorR{
	color:#f03a4b;
}
.colorBlue{
	color:#3e63d8;
}
.bgff{
	background-color:#fff;
}
.body{
	background-color:#ddd; 
}
.header{
	background-color:#f2f2f2; 
	width:100%; 
}
header{
	padding:30px; 
}
.firAnch.col-xs-2{
	padding-left:0;
	border-radius: 50px;
}
.anchImg{
	position:relative;
}
/*.firAnch .degree{
	position:absolute; 
	width:20px;
	height:20px;
	border-radius:50%;
	right:0;
	background-color:red;
}*/
.anchLive img{border-radius:50%; }
.banner{
	padding-left:30px;.anchLive
	padding-right:30px;
}
.banner a{
	color:#999; 
	text-decoration:none; 
}
.banner img{
	margin-bottom:18px;
}

.banner .txtL .tit{
	color:#f03a4b;
}
.glyphicon-fire{
	background-color:#f03a4b;
	color:#fff; 
	padding:4px 14px;
	border-radius:6px;
}
.recommend{
	background-color:#f2f2f2;
	padding:0 30px; 
	margin-top:20px;
}
.recommend img{
	width:100%;
}
.recommend .thumbnail{
	background:none;
	border:none; 
}


